{{!

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/navbar-secure

    This template renders the icon navbar.

}}


<div class="list-group">
    {{#teachermenu}}
        {{#courseadminmenutitle}}
            <h5>{{{courseadminmenutitle}}}</h5>
        {{/courseadminmenutitle}}
    {{/teachermenu}}
    
    {{#easyenrol}}
        {{#haspermission}}
            {{#haseasyenrollment}}
                    <a href="{{{url}}}" class="list-group-item"><i class="fa fa-lock" aria-hidden="true"></i> {{{title}}}</a>
            {{/haseasyenrollment}}
        {{/haspermission}}
    {{/easyenrol}}
    {{#teachermenu}}
        {{#teacherlinks}}
            {{#status}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/status}}
        {{/teacherlinks}}
    {{/teachermenu}}

    {{#teachermenu}}
        {{#coursereportmenutitle}}
            <h5>{{{coursereportmenutitle}}}</h5>
        {{/coursereportmenutitle}}
    {{/teachermenu}}

    {{#teachermenu}}
        {{#teacherreports}}
            {{#status}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/status}}
        {{/teacherreports}}
    {{/teachermenu}}

</div>