{{!
    header user links in courses and dashboard.
}}


            {{{roleswitch}}}
            {{{loginas}}}
 <a href="{{{switchrolelink}}}" title="{{{switchroletitle}}}" class="headerlink"><i class="fa {{{icon}}}"></i> {{{switchroletitle}}}</a>
